<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="Hack other users in s0urce.io the hacking game! Earn BT Coins and unlock new features!" />
		<meta name="robots" content="index, follow" />
		
		<meta property="og:type" content="website" />
		<meta property="og:title" content="s0urce.io - The Hacking Game" />
		<meta property="og:url" content="http://s0urce.io/" />
		<meta property="og:description" content="Hack other users in s0urce.io and earn BT Coins to unlock new features!" />
		<meta property="og:site_name" content="s0urce.io" />
		<meta property="og:image" content="http://s0urce.io/client/img/meta-img.png" />
		<meta property="og:image:width" content="640" />
		<meta property="og:image:height" content="480" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Hack other users in s0urce.io and earn BT Coins to unlock new features!" />
		<meta name="twitter:title" content="s0urce.io - The Hacking Game" />

		<link rel="icon" type="image/png" href="../client/img/favicon.png">
		<title>s0urce.io Rewrite - The Hacking Game</title>
		
		<link href="/client/css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
		
		<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
		
		<script>
      function displayMessage() {
        alert('Hello.');
        alert('Its nicejs here.');
        alert('So...');
        alert('I got my discord account banned yesterday (01/09/2021)');
        alert('I\'m trying to create a new account');
        alert('If its an IP-ban then goodbye');
        alert('but...');
        alert('If not... i will add my account here');
        alert('While this the People on the Team Will Continue Writing Code On SourceRW.');
        alert('Thanks For Reading -NiceJSProgrammer#4774');
      }      
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
